<div class="container">
  <div class="row mb-4">
    <span>Edit Plot</span>
  </div>
  <div class="row">
    <div class="col-md-3 d-flex flex-column pe-0">
      @for (tab of tabs; track tab) {
      <div class="p-3 border edit-tab d-flex justify-content-between w-100"
        [ngClass]=" {'bg-success':tab===selectedTabSig()}" (click)="onTabSelection(tab)">
        {{ tab }}
        <mat-icon>
          <span class="material-symbols-outlined" [ngClass]=" {'text-white':tab===selectedTabSig()}">
            chevron_right
          </span>
        </mat-icon>
      </div>
      }
    </div>
    <div class="col-md-9  container">

      <div class="row pb-0 pe-0 bg-success-subtle p-4 text-success justify-content-between">
        <div class="w-auto">
          {{selectedTabSig()}}
        </div>
        <img class="w-auto pb-0 pe-0" src="assets/Group 51.png" alt="logo">
      </div>
      <div class="row mt-4">

        @switch (selectedTabSig()) { @case ('Plot details') {

        <app-plot-details (statusEvent)="onAutoSave($event,0)"
          [plotDetailsFormValue]="plotDetailsSig()"></app-plot-details>
        } @case ('Crop details') {

        <app-crop-details (statusEvent)="onAutoSave($event,1)" [cropDetailsFormValue]="cropDetailsSig()"
          (optionalStatusEvent)="onAutoSave($event,1)"></app-crop-details>
        } @case ('Standards') {

        <app-standards [standardsFormValue]="standardsSig()" (statusEvent)="onAutoSave($event,2)"></app-standards>
        } }
      </div>
    </div>
  </div>
  <div class="row">
    <mat-card>
      <mat-card-content class="d-flex justify-content-between align-items-center"> <button mat-flat-button
          color="primary" (click)="backToAdd()">Back</button>
        @if (isSavedSig()) {
        <div>

          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-bookmark-check-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5m8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3" />
          </svg>
          <span class="ms-1 text-dark-emphasis">Changes made will be saved automatically</span>
        </div>}
      </mat-card-content>
    </mat-card>
  </div>
</div>