Edit Plot

<div class="container">
  <div class="row">
    <div class="col-md-3 d-flex flex-column">
      @for (tab of tabs; track tab) {
      <div class="p-3 border edit-tab" (click)="onTabSelection(tab)">
        {{ tab }}
      </div>
      }
    </div>
    <div class="col-md-9">
      @switch (selectedTabSig()) { @case ('Plot details') {

      <app-edit-plot-details></app-edit-plot-details>
      } @case ('Crop details') {

      <app-edit-crop-details></app-edit-crop-details>
      } @case ('Standards') {

      <app-edit-standards></app-edit-standards>
      } }
    </div>
  </div>
</div>
