<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <span>Standards</span>
        <app-standards
          (statusEvent)="statusEvent.emit($event)"
          [standardsFormValue]="standardsFormValue"
          #standards
        ></app-standards>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="d-flex justify-content-center">
      <button (click)="goBack()" mat-button>back</button>
      <button
        [disabled]="!standards.standardsForm.valid"
        mat-stroked-button
        outline="fill"
        (click)="onSubmit()"
      >
        Add standards
      </button>
    </div>
  </div>
</div>
