<div class="container">
  <div class="row mb-4">
    <span> Add plot- Organic Coffee Society </span>
  </div>
  <div class="row">
    @switch (stepperIndex) { @case (0) {
    <app-add-plot
      (nextStepEvent)="onNextStepper($event)"
      (statusEvent)="isPlotValid = $event"
      (formValueEvent)="plotValue = $event"
      class="col-md-9"
      [plotDetailsFormValue]="plotValue"
    ></app-add-plot>
    } @case (1) {
    <app-add-crop
      (nextStepEvent)="onNextStepper($event)"
      (statusEvent)="isCropsValid = $event"
      class="col-md-9"
      (formValueEvent)="cropDetialsValue = $event"
      [cropDetailsFormValue]="cropDetialsValue"
    ></app-add-crop>
    } @case (2) {
    <app-add-standards
      (nextStepEvent)="onNextStepper($event)"
      (statusEvent)="isStandardsValid = $event"
      [standardsFormValue]="standardsValue"
      (formValueEvent)="onSubmit($event)"
      class="col-md-9"
    ></app-add-standards>
    } }
    <app-plot-stepper
      [isPlotValid]="isPlotValid"
      [iscropsValid]="isCropsValid"
      [isStandardsValid]="isStandardsValid"
      [stepperIndex]="stepperIndex"
      (currentStepperEvent)="stepperIndex = $event"
      class="col-md-3"
    ></app-plot-stepper>
  </div>
</div>
