<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <span>Plot details</span>
        <app-plot-details
          (statusEvent)="statusEvent.emit($event)"
          #plotDetails
          [plotDetailsFormValue]="plotDetailsFormValue"
        ></app-plot-details>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="d-flex justify-content-center">
      <button mat-button>back</button>
      <button
        [disabled]="!plotDetails.plotForm.valid"
        mat-stroked-button
        outline="fill"
        (click)="onNext()"
      >
        Next: crop details
      </button>
    </div>
  </div>
</div>
