<span class="ms-3">Add plot- Organic Coffee Society</span>
<!-- <div class="mt-3 ms-3 container">
  <div class="row">
    <div class="card col-8">
      <div class="card-body">
        <app-plot-details></app-plot-details>
      </div>
    </div>
    <div class="col-4">
      <mat-stepper orientation="vertical" [linear]="false" #stepper>
        <mat-step label="Plot details">
          <ng-template matStepLabel>Plot details</ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Crop details</ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Standards</ng-template>
        </mat-step>
      </mat-stepper>
    </div>
  </div>
</div> -->
<mat-stepper
  class="plot-stepper container"
  orientation="vertical"
  linear="true"
  #stepper
>
  <mat-step label="Plot details">
    <app-plot-details></app-plot-details>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Crop details</ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Standards</ng-template>
  </mat-step>
</mat-stepper>
