<form [formGroup]="cropDetailsForm">
  <ng-container formArrayName="cropDetails">
    @for (group of cropDetials.controls;track group;let i=$index) {
    <div class="container mb-5" [formGroupName]="i">
      <div class="row fw-medium title">
        <div class="me-2 pe-0">Crop {{ i + 1 }}</div>
        @if (i==0) {
        <div class="p-0">- Mandatory</div>
        <div class="text-danger p-0">*</div>
        }
      </div>
      <div class="row">
        <!-- <mat-form-field appearance="outline" class="col-md-6">
          <mat-label>
            Used seeds (kg)/seedlings (No.)/propagation material
            (No.)*</mat-label
          >
          <input formControlName="seedsUsed" matInput />
        </mat-form-field> -->

        <div class="mb-3 col-md-6">
          <label for="seedsUsed" class="form-label">
            <span class="fs-7">
              Used seeds (kg)/seedlings (No.)/propagation material (No.)</span>
            @if (seedsUsed.value!=='' || i===0) {
            <span class="text-danger">*</span>
            }
          </label>
          <input formControlName="seedsUsed" #seedsUsed placeholder="Seeds used (kg)" type="text" class="form-control"
            id="seedsUsed" aria-describedby="seedsUsed" />
        </div>
        <!-- 
        <mat-form-field appearance="outline" class="col-md-6">
          <mat-label>Harvest estimation in kg</mat-label>
          <input formControlName="estimatedHarvest" matInput />
        </mat-form-field> -->
        <div class="mb-3 col-md-6">
          <label for="estimatedHarvest" class="form-label">
            <span class="fs-7"> Harvest estimation in kg (total)</span>
          </label>
          <input formControlName="estimatedHarvest" placeholder="Harvest estimation in kg" type="text"
            class="form-control" id="estimatedHarvest" aria-describedby="estimatedHarvest" />
        </div>
      </div>
      <div class="row">
        <!-- <mat-form-field appearance="outline" class="col-md-6">
          <mat-label>Harvest period</mat-label>
          <input formControlName="harvestPeriod" matInput />
        </mat-form-field> -->
        <div class="mb-3 col-md-6">
          <label for="harvestPeriod" class="form-label">
            <span class="fs-7"> Harvest period (months)</span>
          </label>
          <input formControlName="harvestPeriod" placeholder="Harvest period" type="text" class="form-control"
            id="harvestPeriod" aria-describedby="harvestPeriod" />
        </div>
      </div>
    </div>
    }
  </ng-container>
</form>