<form [formGroup]="plotForm" class="container ">

  <div class="row">

    <div class="mb-3 col-6">
      <label for="plotName" class="form-label fs-7">
        <span>Plot Name</span>
        <span class="text-danger">*</span>
      </label>
      <input formControlName="plotName" placeholder="Plot name" type="text" class="form-control " id="plotName"
        aria-describedby="plotName" />
      @if (formGroup['plotName'].touched && formGroup['plotName'].errors) {
      @if (formGroup['plotName'].hasError('required')) {

      <div class="invalid-feedback">
        field is required!

      </div>
      }
      }
    </div>

    <div class="mb-3 col-md-6">
      <label for="euOrganic" class="form-label fs-7">
        <span class="fs-7"> Ownership</span>
        <span class="text-danger">*</span>
      </label>

      <app-custom-select formControlName="ownership" [placeHolder]="'Ownership'"
        [options]="ownershipOptions"></app-custom-select>
      @if (formGroup['ownership'].touched && formGroup['ownership'].errors) {
      @if (formGroup['ownership'].hasError('required')) {

      <div class="invalid-feedback">
        field is required!

      </div>
      }
      }
    </div>

  </div>
  <div class="row">

    <div class="mb-3 col">
      <label for="description" class="form-label fs-7"> Description </label>
      <input formControlName="description" placeholder="Description" type="text" class="form-control" id="description"
        aria-describedby="description" />
    </div>
  </div>
  <div class="row">

    <div class="mb-3 col-6">
      <label for="plotName" class="form-label fs-7">
        <span>Latitude</span>
        <span class="text-danger">*</span>
      </label>
      <input formControlName="latitude" placeholder="Latitude" type="text" class="form-control" id="latitude"
        aria-describedby="latitude" />
      @if (formGroup['latitude'].touched && formGroup['latitude'].errors) {
      @if (formGroup['latitude'].hasError('required')) {

      <div class="invalid-feedback">
        field is required!

      </div>
      }
      @if (formGroup['latitude'].hasError('pattern')) {

      <div class="invalid-feedback">
        please type a number

      </div>
      }
      @if (formGroup['latitude'].hasError('invalidLatitude')) {

      <div class="invalid-feedback">
        invalid value

      </div>
      }
      }
    </div>

    <div class="mb-3 col-6">
      <label for="plotName" class="form-label fs-7">
        <span>Longitude</span>
        <span class="text-danger">*</span>
      </label>
      <input formControlName="longitude" placeholder="Longitude" type="text" class="form-control" id="longitude"
        aria-describedby="longitude" />
      @if (formGroup['longitude'].touched && formGroup['longitude'].errors) {
      @if (formGroup['longitude'].hasError('required')) {

      <div class="invalid-feedback">
        field is required!

      </div>
      }
      @if (formGroup['longitude'].hasError('pattern')) {

      <div class="invalid-feedback">
        please type a number

      </div>
      }
      @if (formGroup['longitude'].hasError('invalidLongitude')) {

      <div class="invalid-feedback">
        invalid value

      </div>
      }
      }
    </div>
  </div>

  @if (plotForm.controls['ownership'].value==='rental') {
  <div class="row">

    <div class="mb-3 col-6">
      <label for="conversionStart" class="form-label fs-7">
        <span>Duration of rental contract start</span>
      </label>
      <app-custom-date-picker [placeHolder]="'Select date'" formControlName="contractStart"></app-custom-date-picker>
    </div>

    <div class="mb-3 col-6">
      <label for="contractEnd" class="form-label fs-7">
        <span>Duration of rental contract end</span>
      </label>
      <app-custom-date-picker [placeHolder]="'Select date'" formControlName="contractEnd"></app-custom-date-picker>
    </div>
  </div>
  }

  <div class="row">

    <div class="mb-3 col-6">
      <label for="plotName" class="form-label fs-7">
        <span>Last application of unallowed applications</span>
        <span class="text-danger">*</span>
      </label>
      <app-custom-date-picker [placeHolder]="'Select date'"
        formControlName="unAllowedApplicationsDate"></app-custom-date-picker>
      @if (formGroup['unAllowedApplicationsDate'].touched && formGroup['unAllowedApplicationsDate'].errors) {
      @if (formGroup['unAllowedApplicationsDate'].hasError('required')) {

      <div class="invalid-feedback">
        field is required!

      </div>
      }
      }
    </div>


    <div class="mb-3 col-6">
      <label for="plotName" class="form-label fs-7">
        <span>Total surface area(ha)</span>
        <span class="text-danger">*</span>
      </label>
      <input readonly formControlName="totalSurfaceArea" placeholder="Area in ha" type="text" class="form-control"
        id="totalSurfaceArea" aria-describedby="totalSurfaceArea" />
    </div>
  </div>
  <div class="row">

    <div class="mb-3 col-6">
      <label for="usedSurface" class="form-label fs-7">
        <span>Used surface organic(ha)</span>
        <span class="text-danger">*</span>
      </label>
      <input formControlName="usedSurface" placeholder="Area in ha" type="text" class="form-control" id="usedSurface"
        aria-describedby="usedSurface" />
      @if (formGroup['usedSurface'].touched && formGroup['usedSurface'].errors) {
      @if (formGroup['usedSurface'].hasError('required')) {

      <div class="invalid-feedback">
        field is required!

      </div>
      }
      }
    </div>

    <div class="mb-3 col-6">
      <label for="conventionalArea" class="form-label fs-7">
        <span>Used surface organic(ha)</span>
      </label>
      <input formControlName="conventionalArea" placeholder="Area in ha" type="text" class="form-control"
        id="conventionalArea" aria-describedby="conventionalArea" />
    </div>
  </div>
  <div class="row">

    <div class="mb-3 col-md-6">
      <label for="Irrigation" class="form-label fs-7">
        <span class="fs-7"> Irrigation</span>
        <span class="text-danger">*</span>
      </label>

      <app-custom-select formControlName="irrigation" [placeHolder]="'Select'"
        [options]="selectOptions"></app-custom-select>
      @if (formGroup['irrigation'].touched && formGroup['irrigation'].errors) {
      @if (formGroup['irrigation'].hasError('required')) {

      <div class="invalid-feedback">
        field is required!

      </div>
      }
      }
    </div>


    <div class="mb-3 col-6">
      <label for="conversionStart" class="form-label fs-7">
        <span>Start of conversion</span>
        <span class="text-danger">*</span>
      </label>
      <app-custom-date-picker [placeHolder]="'Select date'" formControlName="conversionStart"></app-custom-date-picker>
      @if (formGroup['conversionStart'].touched && formGroup['conversionStart'].errors) {
      @if (formGroup['conversionStart'].hasError('required')) {

      <div class="invalid-feedback">
        field is required!

      </div>
      }
      }
    </div>
  </div>
</form>