<form [formGroup]="plotForm" class="container ">

  <div class="row">
    <!-- <mat-form-field appearance="outline" class="col-md-6">
      <mat-label>Plot name</mat-label>
      <input formControlName="plotName" matInput />
    </mat-form-field> -->
    <div class="mb-3 col-6">
      <label for="plotName" class="form-label fs-7">
        <span>Plot Name</span>
        <span class="text-danger">*</span>
      </label>
      <input formControlName="plotName" placeholder="Plot name" type="text" class="form-control" id="plotName"
        aria-describedby="plotName" />
    </div>
    <!-- <mat-form-field appearance="outline" class="col-md-6">
      <mat-label>Ownership</mat-label>
      <mat-select formControlName="ownership">
        @for (item of ownershipOptions; track item) {
        <mat-option [value]="item">{{ item }}</mat-option>
        }
      </mat-select>
    </mat-form-field> -->
    <div class="mb-3 col-md-6">
      <label for="euOrganic" class="form-label fs-7">
        <span class="fs-7"> Ownership</span>
        <span class="text-danger">*</span>
      </label>

      <app-custom-select formControlName="ownership" [placeHolder]="'Ownership'"
        [options]="ownershipOptions"></app-custom-select>
    </div>

  </div>
  <div class="row">
    <!-- <mat-form-field appearance="outline" class="col">
      <mat-label>Description</mat-label>
      <input formControlName="description" matInput />
    </mat-form-field> -->
    <div class="mb-3 col">
      <label for="description" class="form-label fs-7"> Description </label>
      <input formControlName="description" placeholder="Description" type="text" class="form-control" id="description"
        aria-describedby="description" />
    </div>
  </div>
  <div class="row">
    <!-- <mat-form-field appearance="outline" class="col-md-6">
      <mat-label>Latitude</mat-label>
      <input formControlName="latitude" matInput />
    </mat-form-field> -->
    <div class="mb-3 col-6">
      <label for="plotName" class="form-label fs-7">
        <span>Latitude</span>
        <span class="text-danger">*</span>
      </label>
      <input formControlName="latitude" placeholder="Latitude" type="text" class="form-control" id="latitude"
        aria-describedby="latitude" />
    </div>
    <!-- <mat-form-field appearance="outline" class="col-md-6">
      <mat-label>Longitude</mat-label>
      <input formControlName="longitude" matInput />
    </mat-form-field> -->
    <div class="mb-3 col-6">
      <label for="plotName" class="form-label fs-7">
        <span>Longitude</span>
        <span class="text-danger">*</span>
      </label>
      <input formControlName="longitude" placeholder="Longitude" type="text" class="form-control" id="longitude"
        aria-describedby="longitude" />
    </div>
  </div>

  @if (plotForm.controls['ownership'].value==='rental') {
  <div class="row">
    <!-- <mat-form-field appearance="outline" class="col-md-6">
      <mat-label>Duration of rental contract start</mat-label>
      <input formControlName="contractStart" matInput [matDatepicker]="contractStart" />
      <mat-datepicker-toggle matIconSuffix [for]="contractStart"></mat-datepicker-toggle>
      <mat-datepicker #contractStart>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDatepickerApply>
            Apply
          </button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field> -->
    <div class="mb-3 col-6">
      <label for="conversionStart" class="form-label fs-7">
        <span>Duration of rental contract start</span>
      </label>
      <app-custom-date-picker [placeHolder]="'Select date'" formControlName="contractStart"></app-custom-date-picker>
    </div>

    <!-- <mat-form-field appearance="outline" class="col-md-6">
      <mat-label>Duration of rental contract end</mat-label>
      <input formControlName="contractEnd" matInput [matDatepicker]="contractEnd" />
      <mat-datepicker-toggle matIconSuffix [for]="contractEnd"></mat-datepicker-toggle>
      <mat-datepicker #contractEnd>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDatepickerApply>
            Apply
          </button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field> -->
    <div class="mb-3 col-6">
      <label for="contractEnd" class="form-label fs-7">
        <span>Duration of rental contract end</span>
      </label>
      <app-custom-date-picker [placeHolder]="'Select date'" formControlName="contractEnd"></app-custom-date-picker>
    </div>
  </div>
  }

  <div class="row">
    <!-- <mat-form-field appearance="outline" class="col-md-6">
      <mat-label>Last application of unallowed applications</mat-label>
      <input formControlName="unAllowedApplicationsDate" matInput [matDatepicker]="unAllowedApplications" />
      <mat-datepicker-toggle matIconSuffix [for]="unAllowedApplications"></mat-datepicker-toggle>
      <mat-datepicker #unAllowedApplications>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDatepickerApply>
            Apply
          </button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field> -->
    <div class="mb-3 col-6">
      <label for="plotName" class="form-label fs-7">
        <span>Last application of unallowed applications</span>
        <span class="text-danger">*</span>
      </label>
      <app-custom-date-picker [placeHolder]="'Select date'"
        formControlName="unAllowedApplicationsDate"></app-custom-date-picker>
    </div>

    <!-- <mat-form-field appearance="outline" class="col-md-6">
      <mat-label>Total surface area</mat-label>
      <input formControlName="totalSurfaceArea" readonly matInput />
    </mat-form-field> -->

    <div class="mb-3 col-6">
      <label for="plotName" class="form-label fs-7">
        <span>Total surface area(ha)</span>
        <span class="text-danger">*</span>
      </label>
      <input readonly formControlName="totalSurfaceArea" placeholder="Area in ha" type="text" class="form-control"
        id="totalSurfaceArea" aria-describedby="totalSurfaceArea" />
    </div>
  </div>
  <div class="row">
    <!-- <mat-form-field appearance="outline" class="col-md-6">
      <mat-label>Used surface organic(ha)</mat-label>
      <input formControlName="usedSurface" matInput />
    </mat-form-field> -->
    <div class="mb-3 col-6">
      <label for="usedSurface" class="form-label fs-7">
        <span>Used surface organic(ha)</span>
        <span class="text-danger">*</span>
      </label>
      <input formControlName="usedSurface" placeholder="Area in ha" type="text" class="form-control" id="usedSurface"
        aria-describedby="usedSurface" />
    </div>
    <!-- <mat-form-field appearance="outline" class="col-md-6">
      <mat-label>Conventional surface</mat-label>
      <input formControlName="conventionalArea" number matInput />
    </mat-form-field> -->
    <div class="mb-3 col-6">
      <label for="conventionalArea" class="form-label fs-7">
        <span>Used surface organic(ha)</span>
      </label>
      <input formControlName="conventionalArea" placeholder="Area in ha" type="text" class="form-control"
        id="conventionalArea" aria-describedby="conventionalArea" />
    </div>
  </div>
  <div class="row">
    <!-- <mat-form-field appearance="outline" class="col-md-6">
      <mat-label>Irrigation</mat-label>
      <mat-select formControlName="irrigation">
        @for (item of selectOptions; track item) {
        <mat-option [value]="item">{{ item }}</mat-option>
        }
      </mat-select>
    </mat-form-field> -->
    <div class="mb-3 col-md-6">
      <label for="Irrigation" class="form-label fs-7">
        <span class="fs-7"> Irrigation</span>
        <span class="text-danger">*</span>
      </label>

      <app-custom-select formControlName="irrigation" [placeHolder]="'Select'"
        [options]="selectOptions"></app-custom-select>
    </div>

    <!-- <mat-form-field appearance="outline" class="col-md-6">
      <mat-label>Start of conversion</mat-label>
      <input formControlName="conversionStart" matInput [matDatepicker]="conversionStart" />
      <mat-datepicker-toggle matIconSuffix [for]="conversionStart"></mat-datepicker-toggle>
      <mat-datepicker #conversionStart>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDatepickerApply>
            Apply
          </button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field> -->
    <div class="mb-3 col-6">
      <label for="conversionStart" class="form-label fs-7">
        <span>Start of conversion</span>
        <span class="text-danger">*</span>
      </label>
      <app-custom-date-picker [placeHolder]="'Select date'" formControlName="conversionStart"></app-custom-date-picker>
    </div>
  </div>
</form>