<form [formGroup]="standardsForm" class="container">
  <div class="row">

    <div class="mb-3 col-md-6">
      <label for="euOrganic" class="form-label">
        <span class="fs-7"> EU organic</span>
        <span class="text-danger">*</span>
      </label>

      <app-custom-select formControlName="euOrganic" [placeHolder]="'Select'"
        [options]="selectOptions"></app-custom-select>
      @if (formGroup['euOrganic'].touched && formGroup['euOrganic'].errors) {
      @if (formGroup['euOrganic'].hasError('required')) {

      <div class="invalid-feedback">
        field is required!

      </div>
      }
      }
    </div>

    <div class="mb-3 col-md-6">
      <label for="nop" class="form-label">
        <span class="fs-7">NOP</span>
        <span class="text-danger">*</span>
      </label>
      <app-custom-select formControlName="nop" [placeHolder]="'Select'" [options]="selectOptions"></app-custom-select>
      @if (formGroup.nop.touched && formGroup['nop'].errors) {
      @if (formGroup['nop'].hasError('required')) {

      <div class="invalid-feedback">
        field is required!

      </div>
      }
      }
    </div>

    <div class="mb-3 col-md-6">
      <label for="otherStandards" class="form-label">
        <span class="fs-7"> Other standard</span>
      </label>
      <input formControlName="otherStandards" placeholder="Other standard" type="text" class="form-control"
        id="otherStandards" aria-describedby="otherStandards" />
    </div>
  </div>
</form>