/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.fs-7 {
  font-size: 0.7rem;
}

.mtc-2 {
  margin-top: 2rem;
}

// .stepper-next-btn {
//   background-color: #e0e0e0 !important;
// }

input {
  height: 3rem;
}

.header-lang {
  svg {
    color: #01a747;
  }
}

.invalid-feedback {
  display: block;
}
