/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// .plot-stepper {
//   .mat-horizontal-stepper-wrapper {
//     flex-direction: row-reverse !important;
//     justify-content: flex-start;
//   }

//   .mat-horizontal-stepper-header-container {
//     flex-direction: column;
//   }

//   .mat-stepper-horizontal-line {
//     flex: none;
//     border: none;
//   }
// }
